//---COLORS---//
$color-main: hsl(150, 57%, 45%);
$color-component: hsl(150, 50%, 70%);
$color-component2: hsl(350, 50%, 70%);

//---DIMENSIONS---//

//---FONTS-SIZE---//

//---BORDERS---//

//---box-shadow
