.banner {
  display: flex;
  border-bottom: solid 3px black;
  & > a {
    display: flex;
    align-items: center;
    padding: 18px 24px;
  }
}

.banner__title {
  padding-left: 32px;
}

.banner__logo {
  height: 45px;
  width: 45px;
}
